<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="subreddit.android.appstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppStoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.details.AppDetailsActivity"
            android:label="@string/screen_details"
            android:parentActivityName=".screens.MainActivity"/>
        <activity
            android:name=".screens.settings.AboutActivity"
            android:label="@string/button_about"
            android:parentActivityName=".screens.MainActivity"/>
        <activity
            android:name=".screens.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".screens.MainActivity"/>
    </application>

</manifest>